@page {
	margin: 2cm;
	size: 8.5in 11in;
}

@page :first {
	margin-top: 10cm;
}

body {
	color: #333;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 0.875em;
	padding: 1em 2.5em;
}

a {
	border-bottom: 1px solid #eee;
	color: #333;
	padding-bottom: 1px;
	text-decoration: none;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
	font-family: "Archivo Narrow", Arial, sans-serif;
}

	h1 {
		font-size: 2.769em;
	}

	h1 small {
		color: #b21200;
		display: block;
		font-family: 'Arapey', Georgia, sans-serif;
		font-size: 0.667em;
		font-weight: normal;
	}

	h2 {
		border-bottom: 1px solid #eee;
		color: #b21200;
		font-size: 1.846em;
		font-weight: normal;
		padding-bottom: 6px;
	}

/* Photo */

#me {
	background: #fff;
	border: 1px solid #eee;
	float: right;
	padding: 1px;
	width: 150px;
}

/* Contact */

#contact {
	line-height: 160%;
	list-style-type: none;
	margin: 0 0 3em;
	padding: 0;
}

	#contact li {

	}

		#contact li:last-child {
			border-right: 0;
			margin-right: 0;
			padding-right: 0;
		}

	#contact strong {
		color: #aaa;
	}

/* Content */

section {
	page-break-inside: avoid;
}

dl {
	margin-bottom: 3em;
}

dt {
	font-weight: bold;
	margin-bottom: 0.6em;
}

	dt .year {
		border-left: 1px dotted #ccc;
		color: #666;
		float: right;
		font-weight: normal;
		text-align: right;
		width: 110px;
	}

dd {
	line-height: 150%;
	margin-bottom: 1.1em;
}