/* -- Education */

#education {
	@text-color: #6b7b86;
	@link-color: #e05c41;
	@bg-color: #f0f2f7;

	background-color: @bg-color;
	color: @text-color;
	padding: 4.375em 0;

	h3 {
		text-align: center;
	}

	.wrapper {
		width: 75%;

		> ul {
			list-style-type: none;

			li {
				margin: 0.625em 0;
			}

			h4 {
				font-weight: 600;
				margin-bottom: 0.222em;

				+ p {
					color: lighten(@text-color, 20%);
					font-size: 0.875em;
					margin: 0 0 1.375em;

					+ blockquote {
						color: darken(@text-color, 15%);
						font-size: 1.75em;
						font-weight: 300;
						padding-left: 3em;
					}
				}
			}

			blockquote:last-child {
				color: lighten(@text-color, 25%);
				font-size: 0.875em;
				line-height: 1.375em;
				margin: 1.571em 0 0;

				p {
					color: inherit;
					line-height: inherit;
				}
			}
		}
	}
}