<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header id="header" class="slide fit">
		<div class="row banner">
			<%=sections.header%>
		</div>
	</header>

	<section id="experience" class="slide">
		<div class="wrapper">
			<%=sections.experience%>
		</div>
	</section>
	<script src="assets/scripts.js"></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>